#paneSelectionPersonnage{
    -fx-background-image: url("main/resources/parchemin.jpg");
    fx-background-repeat: stretch;
    -fx-background-size: 1200 800;
    -fx-background-position: center center;
}

#pageCombat{
    -fx-background-image: url("main/resources/parchemin.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-font-family: "";
    -fx-font-size: 16px;
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
#barrePv{
    -fx-accent: red;
}

.progress-bar > .bar,.progress-bar > .track{
    -fx-background-insets: 3px;
    -fx-background-radius: 10px;
}

#console{
    text-area-background: #b3b3b3;
}

#console .content{
    -fx-background-color: text-area-background;
}

#resume,#tabPane{
    -fx-background-image: url("main/resources/bois.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 600 500;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
    -fx-font-family: "";
    -fx-font-size: 16px;
}

#resume .label{
    -fx-font-size: 24px;
}

#textGainNiv{
    -fx-font-size: 20px;
}